<button type="button" class="aspis-accordion__header" data-target="trigger" aria-expanded="false">
    <div class="aspis-accordion__player">
        <img src="{{imgPathPlayerInfoGuildrang}}" alt="">
        <p>{{dataPlayername}}</p>
    </div>
    <p class="aspis-accordion__count">{{dataCharCounter}}</p>
    <div class="aspis-accordion__mainchar">
        <img src="{{imgPathOverviewMainCharClassIcon}}" alt="">
        <div class="aspis-accordion__character-info" style="color: {{dataClassColor}}">
            <span>{{dataCharname}}</span>
            <span>{{dataMainSpec}}</span>
        </div>
    </div>
    <p class="aspis-accordion__role">{{dataMainRole}}</p>
    <span class="aspis-accordion__indicator">{{dataAccordionIndicator}}</span>
</button>
